<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<!--footer-->
<div id="header" th:fragment="a">
    <div class="h_top">
        <div class="w clearfix">

            <ul class="h_fr clearfix" th:each="cookie:${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('D_S_P_L_S') && !cookie.getValue().equals('1')}">
                <li class="h_tel"><i></i>您好，欢迎参公益平台</li>
                <li class="to_log" id="login_li_l"><a href="/login" title="登录">登录</a></li>
            </ul>
            <ul class="h_fr clearfix" th:each="cookie:${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('D_S_P_L_S') && cookie.getValue().equals('1')}">
                <li class="h_tel"><i></i>您好，欢迎参与公益平台</li>
                <li class="to_reg" id="login_li_r"><a href="/logout" title="注销">注销</a></li>
            </ul>
        </div>
    </div>
</div>

</body>

</html>