<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>footer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<div class="h_nav" id="nav" th:fragment="a">
    <div class="w clearfix">
        <h1 class="logo fl"><a href="/" title="公益平台">公益平台</a></h1>
        <div class="nav fr">
            <ul class="clearfix">
                <li id="index" class="z_cur"><i></i><a href="/" title="爱心首页">公益首页</a></li>
                <li id="listinfo"><i></i><a href="/listinfo" title="公益活动">公益活动</a></li>
                <li id="personal"><i></i><a href="/user" title="个人中心">个人中心</a></li>
                <li id="help"><a href="/addProject">我要求助</a></li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>