<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" th:fragment="a">
        <div class="navbar-header">
            　 <a href="/" class="navbar-brand">公益网</a>
        </div>
        <ul class="nav navbar-nav ">
            <li><a href="/">公益首页</a></li>
            <li><a href="/listinfo">公益活动</a></li>
            <li><a href="/user">个人中心</a></li>
            <li><a href="/addProject">我要求助</a></li>
        </ul>
        <div class="navbar-right text-danger">
            <span th:if="${user}==null"><a href="/login" >登录</a></span>
            <span th:if="${user}!=null">欢迎:<span th:text="${user.username}"></span>&nbsp;|&nbsp;
            <a class="text-danger" href="/logout">注销</a>
        </span>
        </div>
    </div>
</body>
</html>