<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head th:replace="part/head :: common_header(~{::title},~{::link},~{::script},~{::meta})">
    <title>公益官网</title>
    <meta name="description" content="公益官网">
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

</head>
<body>
<div class="g_head">
    <div th:replace="part/header :: a"></div>
    <div th:replace="part/nav :: a"></div>
</div>
<!--轮播图开始-->
<div layout:fragment="container" class="container">
    <!-- 轮播图部分 -->
    <div class="row col-xs-10 col-xs-offset-1">
        <div class="carousel slide" id="slidershow" data-ride="carousel">
            <!-- 设置图片轮播的顺序 -->
            <ol class="carousel-indicators">
                <li class="active" data-target="#slidershow" data-slide-to="0"></li>
                <li data-target="#slidershow" data-slide-to="1"></li>
                <li data-target="#slidershow" data-slide-to="2"></li>
            </ol>
            <!-- 设置轮播图片 -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="##"><img src="../static/img/c01.jpg" alt=""></a>
                    <div class="carousel-caption">
                        <h4>
                            <span>贫困孤儿助养</span>
                        </h4>
                    </div>

                </div>
                <div class="item">
                    <a href="##"><img src="../static/img/c02.jpg" alt=""></a>
                    <div class="carousel-caption">
                        <h4>
                            <!--  <a class="btn btn-danger btn-sm">活动</a>-->
                            <span>99公益日 一起爱</span>
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <a href="##"><img src="../static/img/c04.jpg" alt=""></a>
                    <div class="carousel-caption">
                        <h4>
                            <!--  <a class="btn btn-danger btn-sm">活动</a>-->
                            <span>免费午餐，小善大爱</span>
                        </h4>
                    </div>
                </div>
            </div>
            <!-- 设置轮播图片控制器 -->
            <a class="left carousel-control" href="#slidershow" data-slide="prev">
                <span class="fa fa-left fa-angle-left fa-3x"></span>
            </a>
            <a class="right carousel-control" href="#slidershow" data-slide="next">
                <span class="fa fa-right fa-angle-right fa-3x"></span>
            </a>
        </div>
    </div>
    <!--轮播图结束-->


    <!-- 项目信息 显示最新10条数据-->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="col-xs-8">
                <!-- 信息列表 -->
                <div calss="WelfareList" th:each="entity:${entityList.list}">
                    <div class="media">
                        <h4 class="media-heading h3 text-a" th:text="${entity.welfareTitle}"></h4>
                        <a class="pull-left fixedimg" href="#">
                            <img class="media-object" th:src="@{/file/down?fileId={image}(image=${entity.image})}">
                        </a>
                        <div class="media-body">
                            <div class="descript" th:text="${entity.context}">
                                贵州遵义有一条长7200米的生命渠，以潺潺渠水润泽了当地1200多人，
                                被老百姓亲切地称为“大发渠”，因为修建这条生命之渠的领头人正是草王坝老支书黄大发。
                            </div>
                            <br>
                            <p class="text-muted small">
                                <span class="date"  th:text="${#dates.format(entity.createTime,'yyyy-MM-dd HH:mm:ss')}">2017-04-21 11:53:07更新</span>
                            </p>
                            <p class="text-right text-muted lead1">
                                <i class="fa fa-commenting-o fa-fw"></i>
                                <a class="text-muted" href="">详情</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--累计捐献数据-->
            <div class="col-xs-4">
                <div class="list2">
                    <div class="imgtop"></div>
                    <div class="imgbody">
                        <dl>
                            <dt>历史善款总额：</dt>
                            <dd><span>1,788,172</span>元</dd>
                        </dl>
                        <dl>
                            <dt>历史爱心总人次：</dt>
                            <dd><span>105,380</span>人次</dd>
                        </dl>
                    </div>
                </div>
                <div class="list3">
                    <div class="title">
                        <span class="listtitle h2">乐捐</span>
                        <span class="more pull-right">更多</span>
                    </div>
                    <div class="body">
                        <img src="../static/img/img-1.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="part/footer :: a"></div>
</body>
</html>