<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/personal.css">
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/changecolor.js"></script>
</head>
<body onload="load()">
<div th:replace="part/userhead :: a"></div>
<div class="container">

    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <div class="col-xs-3">
                <ul class="nav nav-tabs nav-stacked text-center" id="sidebarMenu">
                    <li id="li1"><a href="/user">我发起的公益</a></li>
                    <li id="li3" class="active"><a href="/donateLog">我的捐款记录</a></li>
                    <li id="li4"><a href="/update/userview">修改个人信息</a></li>
                </ul>
            </div>
            <div class="col-xs-9 right">
                <div class="row col-xs-12">
                    <div class="listcontent">
                        <div class="title">
							 <span class="listtitle h2">
							 	我的捐款记录
							 	<span class="badge" th:text="${list.size()}">0</span>
							 </span>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6" th:each="entity:${list}">
                    <div class="content">
                        <a  th:href="@{/welfare/detail/{id}(id=${entity.id})}">
                            <!--<img th:src="@{/file/down?fileId={image}(image=${entity.image})}">-->
                        </a>
                        <div class="conbottom">
                            <!-- 项目标题 -->
                            <p><a th:href="@{/welfare/detail/{id}(id=${entity.id})}"  th:text="${entity.welfareTitle}">贫困白血病儿童救助</a></p>
                            <!-- 已筹 -->
                            <p class="text-muted">已筹：<span class="text-red" th:text="${entity.welfareActualAccount}">11042227.20</span>元</p>
                            <!-- 捐款人次 -->
                            <p class="text-muted left">捐款人次:<span th:text="${entity.peopleSize}">6646767</span>人次</p>
                            <!-- 募捐状态: -->
                            <p class="text-muted right text-right">募捐状态:
                                <span class="text-red" th:if="${entity.state ==1}">发起</span>
                                <span class="text-red" th:if="${entity.state ==2}">筹款中</span>
                                <span class="text-red" th:if="${entity.state ==3}">等待结算</span>
                                <span class="text-red" th:if="${entity.state ==4}">结束</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="part/footer :: a"></div>
</body>

</html>
