<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
<head >
    <title>个人中心</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css}" href="../../static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}" href="../../static/css/base.css">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" href="../../static/css/style.css">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/nav.css}" href="/static/css/nav.css">

	<script type="text/javascript" th:src="@{/static/js/jquery-2.2.3.min.js}" src="../../static/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery.skippr.css}" href="../../static/css/jquery.skippr.css">
	<script type="text/javascript" th:src="@{/static/js/jquery.skin.js}" src="../../static/js/jquery.skin.js"></script>

	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="../static/css/nav.css">
 	<link rel="stylesheet" type="text/css" href="../static/css/personal.css">

	  <script type="text/javascript" src="../static/js/index.js"></script>
	  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
	  <link rel="stylesheet" href="../static/css/style3.css" />

 	<script src="../static/js/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js" ></script>
    <script src="../static/js/changecolor.js" ></script>
  </head>
<body >
<!--<div th:replace="part/userhead :: a"></div>-->
<div class="g_head">
	<div th:replace="part/header :: a"></div>
	<div th:replace="part/nav :: a"></div>
</div>
<div class="container">
    <div class="row">
	    <div class="col-xs-11 col-xs-offset-1">
	    	<div class="col-xs-3" >
	            <ul class="nav nav-tabs nav-stacked text-center" id="sidebarMenu" >
	                <li id="li1" class="active"><a href="/user">我发起的公益</a></li>
	                <li id="li3"><a href="/donateLog">我的捐款记录</a></li>
	                <li id="li4"><a href="/update/userview">修改个人信息</a></li>
	                <li id="li2"><a href="/account">账户</a></li>
					<li id="li5" th:if="${user.role=='2'}"><a href="/adminlistinfo">审核</a></li>
	            </ul>
	        </div>
	        <div class="col-xs-9 right">
		        <div class="row col-xs-12">
		        	<div class="listcontent">
						<div class="title">
							 <span class="listtitle h2">
							 	我发起的公益
							 	<span class="badge" th:text="${size}">42</span>
							 </span>

						</div>
					</div>
		        </div>
	        	<div class="col-xs-6" th:each="entity:${list}">
	        		<div class="content">
	        			<a  th:href="@{/welfare/detail/{id}(id=${entity.id})}" >
	        				<img  th:src="@{/file/down?fileId={image}(image=${entity.image})}">
	        			</a>
		        		<div class="conbottom">
		        			<!-- 项目标题 -->
		        			<p><a  th:href="@{/welfare/detail/{id}(id=${entity.id})}" th:text="${entity.welfareTitle}" >贫困白血病儿童救助</a></p>
		        			<!-- 已筹 -->
							<p class="text-muted">已筹：<span class="text-red" th:text="${entity.welfareActualAccount}">0</span>元</p>
							<!-- 募捐状态: -->
							<p class="text-muted left">募捐状态:
                                <span class="text-red" th:if="${entity.state ==1}">发起</span>
                                <span class="text-red" th:if="${entity.state ==2}">筹款中</span>
                                <span class="text-red" th:if="${entity.state ==3}">等待结算</span>
                                <span class="text-red" th:if="${entity.state ==4}">结束</span>
                            </p>

		        		</div>
	        		</div>
	        	</div>

			</div>
	    </div>

    </div>
</div>
<div th:replace="part/footer :: a"></div>
</body>

</html>
